.background {
	background-color: green;
}

.db-img-box {
	position: relative;
	height: 400px;
}

.db-img-box .side-A {
	overflow: hidden;
	position: absolute;
	height: 50%;
}

.db-img-box .side-B {
	overflow: hidden;
	position: absolute;
	height: 50%;
	margin-top: 16%; /*set height of  div, not img*/
}

img#A {
	width: 100%;
	overflow: hidden;
}

img#B {
	width: 100%;
	overflow: hidden;
}
