html {
    width: 100%;
    height: auto;
    min-height: 100%;
}


body {
    width: 100%;
    height: auto;
    min-height: 100%;
    color: black;
}

/* fonts */

@font-face {
    font-family: Lato-light;
    src: url('../fonts/Lato-Light.ttf');   
}

@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf');   
}

@font-face {
    font-family: Lato-Thin;
    src: url('../fonts/Lato-Thin.ttf');   
}

@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf');   
}

/* general styles */

.background {
    position: relative;
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: #ebc6ca;
    z-index: -9999;
}

.nopadding {
    padding: 0;
    border: 0;
}

/* index.html -------------------------------------------------------*/

/* navbar -----------------------------------------------------------*/

/*change theme buttons styles*/
 .navbar-brand .btn {
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  padding: 20px 20px 20px 20px;
  border: solid #000000 1px;
}

 .navbar-brand .btn:hover {
  background: #ff0000;
}

/* part-1 -----------------------------------------------------------*/

.part-1 {

}

.part-1 .logo {
    margin-top: 10%;
    margin-bottom: 10%;
}

.part-1 .logo img {
    width: 100%;
}

@media(max-width:750px) {

}

/* part-2 ----------------------------------------------------------*/

.parallax-window {
    background-color:;
}

.parallax-mirror {
    opacity: 0.8;

}

@media(max-width:750px) {

}

/* part-3 ----------------------------------------------------------*/

.part-3 {
    height: 300px;
}

@media(max-width:750px) {

}

.part-4 {
    height: 300px;
}

@media(max-width:750px) {

}
    


/*-----------------------------register.html------------------------------*/


 
 




/*-----------------------------------------------------------*/